<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🚧 penaflor.xyz 🚧</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/code_block.css">
</head>
<body>
    <header>
        <h1>🚧 Work in Progress 🚧</h1>
    </header>

    <main>
        <p>Welcome to my page. This site is under construction.</p>
        <p>Check back later for updates!</p>		

        <div class="code-container">
            <div class="code-box">
                <h3>Python</h3>
                <pre><code id="code-python"></code></pre>
            </div>
            
            <div class="code-box">
                <h3>C</h3>
                <pre><code id="code-c"></code></pre>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 Ángel Peñaflor. All rights reserved.</p>
    </footer>

    <!-- Load JavaScript file at the end to ensure the DOM is fully loaded -->
    <script src="../static/js/load_code.js"></script>
</body>
</html>
